version: 2

#
# Jobs
#

jobs:

  # This job builds the base project directory (e.g. ~/package.json)
  build:
    docker:
      - image: circleci/node:6@sha256:bda9f7b5c9f1acfc6aec42eb448c4ec688cfdca0e61adc7fc9c74907c4463d6f
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

  # This job runs the lint tool on the whole repository
  lint:
    docker:
      - image: circleci/node:6@sha256:bda9f7b5c9f1acfc6aec42eb448c4ec688cfdca0e61adc7fc9c74907c4463d6f
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}              
      - run:
          name: Security check
          command: npm run security-check
      - run:
          name: Lint
          command: npm run lint          

  # runs the unit tests
  unit-test:
    docker:
      - image: circleci/node:6@sha256:bda9f7b5c9f1acfc6aec42eb448c4ec688cfdca0e61adc7fc9c74907c4463d6f
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: 
          name: Unit tests
          command: |
            npm run test &&
            ./node_modules/.bin/nyc report --temp-directory=coverage --reporter=text-lcov | ./node_modules/.bin/coveralls

  release:
    docker:
      - image: circleci/node:8@sha256:69ff0a0e9de36672e9879c42a4767add991e19321d0b29adf5539786a6ee55ac
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm run semantic-release

#
# Workflows
#

workflows:
  version: 2

  build_test_release:
    jobs:
      - build
      - lint:     
          requires:
            - build
      - unit-test:
          requires:
            - build
      - release:
          requires:
            - lint
            - unit-test
          filters:
            branches:
              only: master
