version: 2

#
# Jobs
#

jobs:

  # This job builds the base project directory (e.g. ~/package.json)
  build:
    docker:
      - image: circleci/node:6@sha256:d8ee21e14af8ccc0c1803a70ec60d47fd113cbf6d8e451255d0a03cd866742e6
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

  # This job runs the lint tool on the whole repository
  lint:
    docker:
      - image: circleci/node:6@sha256:d8ee21e14af8ccc0c1803a70ec60d47fd113cbf6d8e451255d0a03cd866742e6
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}              
      - run:
          name: Security check
          command: npm run security-check
      - run:
          name: Lint
          command: npm run lint          

  # runs the unit tests
  unit-test:
    docker:
      - image: circleci/node:6@sha256:d8ee21e14af8ccc0c1803a70ec60d47fd113cbf6d8e451255d0a03cd866742e6
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: 
          name: Unit tests
          command: |
            npm run test &&
            ./node_modules/.bin/nyc report --temp-directory=coverage --reporter=text-lcov | ./node_modules/.bin/coveralls

  release:
    docker:
      - image: circleci/node:8@sha256:faf0bd95bc341585a53e1f7d372e4544f98a973a76c52bc90773b5b60e5742fb
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm run semantic-release

#
# Workflows
#

workflows:
  version: 2

  build_test_release:
    jobs:
      - build
      - lint:     
          requires:
            - build
      - unit-test:
          requires:
            - build
      - release:
          requires:
            - lint
            - unit-test
          filters:
            branches:
              only: master
